Soft3D/Soft3D.sdf
Soft3D/Soft3D.v11.suo
Soft3D/.vs
Soft3D/Debug
Soft3D/Soft3D.VC.db
Soft3D/Soft3D/Debug
Soft3D/RenderSystem_GL/Debug
Soft3D/RenderSystem_D3D11/Debug
Soft3D/Demo/Debug
Soft3D/Demo/test.mkv